<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <footer class="text-center text-white bg-dark" id="footer">
        <div class="container p-4">
            <strong class="d-flex justify-content-center mb-4 mt-4">Thank you!</strong>
            <div class="row d-flex justify-content-center ">
                <strong>Reach us...</strong>

                <!-- Section: Social media -->
                <section class="mb-4">

                    <!-- GMail -->
                    <a class="btn  btn-floating m-1" target="_blank" href="mailto:binaryphantoms@gmail.com"
                        role="button"><img src="./icons/email.svg" alt="email icon"></a>

                    <!-- Instagram -->
                    <a class="btn  btn-floating m-1" target="_blank"
                        href="https://instagram.com/binary_phantoms?utm_source=qr&igshid=OGU0MmVlOWVjOQ=="
                        role="button"><img src="./icons/instagram.svg" alt="instagram icon"></a>

                    <!-- Github -->
                    <a class="btn  btn-floating m-1" target="_blank"
                        href="https://github.com/Hexzenberg/SI_Hackathon_Problem_1343" role="button"><img
                            src="./icons/github.svg" alt="github icon"></a>

                </section>
                </form>
                </section>
            </div>

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2023 Copyright:
                <a class="text-white" href="https://mdbootstrap.com/">Binary Phantoms</a>
            </div>

    </footer>
</body>

</html>